
altair==5.3.0


gpxpy==1.6.2


matplotlib==3.8.1


streamlit==1.33.0

#scipy==1.9.0  # Assurez-vous d'utiliser une version compatible avec vos autres packages
absl-py==0.12.0
plotly==5.10.0
scipy==1.12.0